{% extends "base.html" %}
{% load static %}

{% block title %}Лента{% endblock %} 

{% block content %}    
    <div class="row">
        {% for post in posts_list %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 post-block">
                <a class="none-decor-hover" href="{% url 'post_detail' post.id %}">
                    <div class="card">             
                        <img class="card-img-top" src={% if post.picture %}
                                                                        "{{ post.picture.url }}"
                                                                    {% else %}
                                                                        "{% static 'img/empty_cover.png' %}"
                                                                    {% endif %} />
                        <div class="card-body text-center">
                            <h5 class="card-title post-title">{{  post.title }}</h5>
                            <p class="card-text">
                                <h5 class="post-author text-muted">{{  post.created_by.username }}</h5>
                                <div class="text-muted">{{  post.created_at }}</div>
                                <span class="oi oi-heart mx-2 my-2" title="Likes" aria-hidden="true"></span>{{  post.likes.count }}
                                <span class="oi oi-comment-square ml-4 mr-2" title="Comments"></span>{{  post.comments.count }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
