{% extends "base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <h5 class="my-5">Войдите, чтобы продолжить.</h5>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <div class="row">
        <div class="form-group col-12 col-md-6">
            <label for="username-field">Username:</label>
            <input class="form-control" type='text' name="username" id="username-field" /> 
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="password-field">Пароль:</label>
            <input class="form-control" type='password' name="password" id="password-field" />
        </div>
    </div>
{% if form.errors %}
    <p class="text-danger">Логин и пароль не совпадают. Попробуйте снова.</p>
{% endif %}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
<input class="btn btn-primary" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
